<head>
  <title>Virtual Chips</title>
  <!-- mobile scaling -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'">

  <!-- Chrome, Firefox OS and Opera chrome color -->
  <meta name="theme-color" content="#1c722b">

  <!-- Windows Phone chrome color -->
  <meta name="msapplication-navbutton-color" content="#1c722b">

  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>

<body>
  <div id="render-target"></div>
</body>