.actions {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 56px;
}

.actions-horizontal {
	width: 100%;
	height: 100%;
	margin-top: 0;	/* remove default ul margin*/

	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	align-items: stretch;
	-webkit-align-items: stretch;
	align-content: stretch;
	-webkit-align-content: stretch;
}

.actions-horizontal .action {
	text-align: center;
	padding-top: 18px; /* center text vertically */
	width: 0;	/* let flex calculate width automatically */
	color: white;

	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.action-fold {
	background: #b71c1c;
}

.action-safe {
	background: #1b5e20;
}

.action-bet, .bet-controls, .action-tie-cancel {
	background: #01579b;
}

.action-tie-processing {
	background: #aaa;
}

.action-tie-request {
	background: #b88019;
}