.aligner {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.align-vertical {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.align-right {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}