$button-size: 60px;
$small-blind-bg: #64227F;
$small-blind-color: white;
$big-blind-bg: #BF8816;
$big-blind-color: white;
$dealer-bg: white;
$dealer-color: black;

.button__container {
  position: absolute;
  right: 0;
}

.button__container .button {
  z-index: 100; // lay over the current bet
  position: relative;
  width: $button-size;
  height: $button-size;
  text-align: center;
}

.button {
  font-weight: 900;
  border-radius: 50%;

  &.big-blind {
    color: $big-blind-color;
    background-color: $big-blind-bg;
  }

  &.small-blind {
    color: $small-blind-color;
    background-color: $small-blind-bg;
  }

  &.dealer {
    color: $dealer-color;
    background-color: $dealer-bg;
  }

  i {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    font-size: 27px;
  }

  &:after {
    position: absolute;
    display: block;
    top: 0;

    content: ' ';
    height: $button-size / 2;
    width: $button-size;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    background: rgba(0, 0, 0, 0.1);
  }
}