.poker-chips {
	position: relative;
	height: 65%;
}

.poker-chips .current-bet {
	position: absolute;
	top: 0;
	display: block;
	text-align: center;
	width: 100%;
}

.current-bet > .chips-count {
	font-size: 48px;
}

.poker-chips .player-chips {
	position: fixed;
	display: block;
	bottom: 55px;
	text-align: center;
	width: 100%;
}

.player-chips > .chips-count {
	font-size: 48px;
}

.chips-actions {
	position: absolute;
	top: calc(60% - 95px);
	left: calc(50% - 40px);
}

.action-container {
  display: block;
	width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
}

.action-container:first-child {
	margin-bottom: 15px;
}