/* LAYOUT */
.create-table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ec407a;
    z-index: -100;
}

.create-table .row:first-child {
    margin-top: 26px;
}

.create-table .range-field {
    margin-top: -12px;
}

.create-table {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100vh !important;   /* main-header's height*/
    padding-top: 30px;
}

/* GLOBAL COLORS */
.create-table input {
    border-bottom: 1px solid #D01252;
    color: white;
}

.create-table .btn-create { color: white; }

.create-table input[type="range"] { border-color: #ec407a; }

.create-table .input-field label,
.create-table .range-field label { color: #ff94b8; }

.create-table .thumb {
    background-color: white !important;
    top: -4px !important;
}

.create-table .range-field .thumb .value { color: black !important; }

input[type=range]:focus { outline: none; }
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #D01252;
}

/* FOCUS */
.create-table input[type=text]:focus + label,
.create-table input[type=number]:focus + label {
     color: #ff94b8;
}
.create-table .input-field input:focus {
     border-bottom: 1px solid #ff94b8;
     box-shadow: 0 1px 0 -1px #ff94b8;
}

/* VALID */
.create-table .input-field input[type=text].valid,
.create-table .input-field input[type=number].valid {
    border-bottom: 1px solid white;
    box-shadow: inherit;
}

/* button animation */
.main-add.rewind {
    animation: move-grow 0.6s reverse;
    -webkit-animation: move-grow 0.6s reverse;
}

.main-add.animate {
    animation: move-grow 0.6s forwards;
    -webkit-animation: move-grow 0.6s forwards;
}

.main-add i {
    transition: opacity 0.2s;
}

.main-add.animate i, .main-add.rewind i {
    opacity: 0;
    transition: opacity 0.2s;
}

@keyframes move-grow {
    0% {
        animation-timing-function: ease-in;
        -webkit-animation-timing-function: ease-in;
    }

    25% {
        transform: translateX(-45px) translateY(-30px);
        -webkit-transform: translateX(-45px) translateY(-30px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
    }

    45% {
        transform: translateX(-80px) translateY(-65px);
        -webkit-transform: translateX(-80px) translateY(-65px);
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
    }

    60% {
        transform: translateX(-90px) translateY(-110px);
        -webkit-transform: translateX(-90px) translateY(-110px);
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateX(-90px) translateY(-100px) scale(20);
        -webkit-transform: translateX(-90px) translateY(-100px) scale(20);
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
    }
}