body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.z-depth-2-reverse {
    box-shadow: 0 -8px 17px 0 rgba(0, 0, 0, 0.2);
}

.full-height {
	height: 100vh;
}