.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38vh;
    color: white;
}

.main-title, .main-sub-title {
    margin-top: 0;
    margin-bottom: 0;
}

.main-title {
    font-weight: 200;
    font-size: 3.2rem;
}

.main-sub-title {
    font-weight: 100;
    font-size: 1.5rem;
}

.main-header + div {
    top: 38vh;
    position: relative;
}

.main-add {
    background: #ec407a;
    position: fixed;
    top: calc(38% - 30px);
    right: 12%;
}

.main-add:hover { background: #ec407a; }

.full-width-modal-img {
    width: 100%;
}

.show-hands i {
    vertical-align: bottom;
}