nav {
	box-shadow: none;
}

.players-list {
	height: 100px;
	position: relative;
	top: 0;
	text-align: center;
	color: black;
}

nav, .players-list, .table-pot {
	background: #ff5722;
}

.player {
	display: inline-block;
}

.player.folded {
  color: #bd4444;
}

.player .player-icon {
  position: relative;
  top: 1px;
}

.table-pot {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.table-pot .turn {
  position: absolute;
  left: 0;
}

.table-pot .button {
  position: absolute;
  right: 0;
}