.table-felt {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c722b+0,083d17+100 */
    background: #1c722b; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #1c722b 0%, #083d17 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1c722b 0%,#083d17 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(225deg,  #1c722b 0%,#083d17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c722b', endColorstr='#083d17',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}