.table-name {
  overflow: hidden;
  max-width: 66%;
  text-overflow: ellipsis;
}

.table-name.table-name-full {
  /* override brand-logo */
  white-space: normal;
  font-size: 1.2rem;

  line-height: 18px;
  max-height: 100%;
}

.show-hands {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.tie {
  position: absolute;
  bottom: 60px;
  left: 0;

  i { vertical-align: bottom; }
}