.user-settings {
	position: absolute;
	background: rgba(255, 255, 255, 0.8);

	/* display over chips and actions and buttons */
	z-index: 110;

	/* 56px is nav height, players-list is 100px. take full height without overflowing */
	height: calc(100% - 56px - 100px);
	width: 100%;

	visibility: visible;
	opacity: 1;
	-webkit-transition: visibility 0s, opacity 0.35s;
	transition: visibility 0s, opacity 0.35s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.user-settings.hidden {
	opacity: 0;
	visibility: hidden;
	-webkit-transition-delay: 0.35s, 0s;
	transition-delay: 0.35s, 0s;
}

.user-settings .user-icon {
	line-height: 200px;
	font-size: 80px;
	overflow: hidden;	/* prevent overflowing icon name when offline */
	text-align: center;
}

.user-settings .user-icon i {
	font-size: 80px;
}